* {
    box-sizing: border-box;
  }
  body {
    font-family: "Arial";
    background: #2c3e50;
    color: #ecf0f1;
    line-height: 1.618em;
  }
  .wrapper {
    max-width: 60rem;
    width: 100%;
    margin: 0 auto;
  }
  .heading__main {
    margin-left: 10rem;
    color: chocolate;
  }
  .tabs {
    position: relative;
    margin: 1rem 0;
    background: #1abc9c;
    height: 31.5rem;
    border-radius: 10px;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    border-radius: 10px 10px 0 0;
    transition: all 0.25s;
  }
  /* .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  } */
  .tab-content {
    height: 29rem;
    position: absolute;
    text-align: justify;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    font-weight: 700;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }

  footer {
    text-align: center;
  }